<div class="container">

<div class="dialog mt-5">
    <div class="mx-0">
      <h4>Analytics (<a href=<%= "/" + @link.lookup_code %>><%= @link.lookup_code %></a>)</h4>
      <p>
      Original Url: <a href=<%= @link.original_url %>><%= @link.original_url %></a> <br>
      Total Clicks: <%= @link.clicks.count %>
      </p>
    </div>

</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Geolocation</th>
      <th scope="col">Timestamp</th>
    </tr>
  </thead>
  <tbody>
  <% @link.clicks.all.each do |click| %>
   <tr>
      <th scope="row"><%= click.id %></th>
      <td><%= click.geolocation %></td>
      <td><%= click.created_at %></td>
    </tr>
  <%end %>
  </tbody>
</table>
</div>
